# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nicol\Desktop\Rutschmann\M426\02_ConsoleCalculatorWithMaven\02_ConsoleCalculatorWithMaven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
